.contact {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 700px;
  background-image: url("https://advocate.ischooll.com/public/backEnd/img/body-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.contact-header p {
  font-family: var(--base_font);
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #415094; /* make the text bold */
  padding: 20px;
  padding-top: 5px;
  font-family: "Times New Roman", serif;
}
.contact-header-inner {
  font-size: 0; /* to remove the whitespace between inline-block elements */
}

.contact-list-title {
  display: inline-block;
  margin-right: 10px; /* add some space between the p tag and the button */
  position: relative;
  top: 4px;
}

.contact-header-btn {
  display: inline-block;
  border: none;

  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  color: #ffffff; /* assuming you want white text color */
  background-size: 200% auto;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
  font-family: "Times New Roman", serif;
}
.contact-icon {
  width: 14px;
  height: 14px;
  padding-bottom: 1px;
  padding-top: 0px;
  position: relative;
  top: -1px;
}
.contact-header-textbox {
  display: inline-block;
  position: relative;
  left: 10%;
}
.contact-header-textfeild {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
  background-image: url("https://static-00.iconduck.com/assets.00/search-icon-2048x2048-cmujl7en.png");
  background-size: 15px 15px;
  background-position: 4px 4px;
  background-position-y: 15px;
  background-repeat: no-repeat;
  padding: 8px 8px 8px 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #828bb2;
  border-radius: 0px;
  outline: none;
  color: #828bb2;
}
.contact-header-textfeild::placeholder {
  font-size: 11px; /* adjust the font size to your liking */
  font-weight: bold;
  color: #828bb2;
}
.contact-header-textfeild:focus {
  border-bottom: 2px solid #828bb2;
  box-shadow: none;
  color: #828bb2;
  size: 10px;
  animation: borderAnim 0.3s ease-in-out;
}

.contact-header-icons {
  border: 1px solid #828bb2;
  width: 27%;
  height: 28px;
  display: inline-block;
  position: relative;
  left: 21%;
  top: 3px;
  border-radius: 25px;
}

.contact-header-icons i {
  border: 1px solid #828bb2;
  font-size: 13px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  color: #485696;
  border-left: none;
  border-top: none;
  border-bottom: none;
  position: relative;
}

.contact-header-icon i:hover {
  background: -moz-linear-gradient(#c738d8 51%, #7c32ff 100%);
  background: -o-linear-gradient(#c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(#c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 30%, #c738d8 100%, #7c32ff 20%);
  color: #ffffff;
  cursor: pointer;
}

.tooltips {
  visibility: hidden;
  position: absolute;
  top: 30px;
  left: 27px;
  color: #8743fd;
  padding: 0px;
  margin: 0px;
  background-color: white;
  color: black;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  border: 1px solid black;
  max-height: 0;
  transition-property: max-height, visibility;

  transition-delay: 1s;
  font-family: sans-serif;
}

.contact-header-icon i:hover > .tooltips {
  visibility: visible;
  max-height: 100px; /* or any other value */
}
.contact-header-icon i:not(:hover) > .tooltips {
  transition-duration: 0s; /* make it disappear instantly */
  visibility: hidden;
  max-height: 0;
}

.contact-body {
  margin: 10px;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 0px;
  width: 100%;
  height: 128vh; /* Fixed height for card */
  margin: 10px 0;
  overflow: hidden; /* Prevent overflow */
}
.contact-header-tr {
  border: 1px solid #eceef4;
  border-top: none;
  border-left: none;
  border-right: none;
}
.contact-header-tr th {
  padding: 20px;
  color: #4c5a96;
  font-family: "Times New Roman", serif;
  font-size: 12px;
}
.contact-body-tr {
  border: 1px solid #eceef4;
  border-top: none;
  border-left: none;
  border-right: none;
}
.contact-body-tr td {
  padding: 20px;
  color: #828bb2;
}
#icon-id {
  font-size: 14px;
}
.select-btn {
  background-color: transparent;
  border: 1px solid #415094;
  padding-top: 5px;
  border-radius: 25px;
  padding-left: 25px;
  padding-bottom: 5px;
  padding-right: 25px;
  color: #415094;
  font-size: 13px;
}
.select-btn:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
}
.contact-footer {
  padding: 20px;
}

.between-sm-3-and-4 {
  width: 90%;
  max-height: 700px;
  background-image: url("https://advocate.ischooll.com/public/backEnd/img/body-bg.jpg");
}
.sidebar {
  color: #828bb2;
  font-family: Helvetica;
  padding: 10px;
  padding-left: 30px;
}

.container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.row {
  width: 110%;
}

.contact-footer {
  display: flex;
  align-items: center; /* vertically center the elements */
}
.contact-footer p {
  padding-top: 12px;
  color: #8743fd;
}

.contact-footer p,
.contact-footer-btn {
  margin-right: 10px; /* add some space between elements */
}
.contact-page-btn {
  position: relative;
  left: 60%;
  padding-bottom: 10px;
}
.contact-page-btn button {
  border: none;
  background-color: white;
  border-radius: 5px;
  color: gray;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.contact-footer-bottom {
  font-size: 16px;
  font-family: Helvetica;
  color: #828bb2;
  text-align: center;
  padding: 10px;
}
.contact-footer-spam {
  color: red;
}
.contact-page-btn button.active {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff;
}

.select-dropdown {
  position: absolute;
  right: 35px;
  background-color: #fff;
  border-radius: 5px;
  padding: 4px;
  display: none;
  width: 15%;
  margin-top: 3px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.select-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select-dropdown li {
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  padding-left: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.select-dropdown li:hover {
  background-color: #fcfafa;
}
.contact-list-edit {
  padding-left: 100px !important;
}
.select-btn.selected {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff;
}

/* Hide print-only table during regular display */
.print-only {
  display: none;
}

/* Show print-only table during printing */
@media print {
  .contact-body .card,
  .contact-footer,
  .contact-header,
  .contact-header-icons {
    display: none;
  }
  .print-only {
    display: block;
  }
}

.contact-header-2 p {
  font-family: var(--base_font);
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #415094; /* make the text bold */
  padding: 0px;
  padding-top: 5px;
  padding-left: 15px;
  font-family: "Times New Roman", serif;
}
.cardd {
  background-color: white;
  border-radius: 8px;
  padding: 0px;
  padding-left: 0px;
  padding-bottom: 6px;
  width: 100%;
  margin: 10px 0;
}
.contact-list-title {
  display: inline-block;
  margin-right: 10px; /* add some space between the p tag and the button */
  position: relative;
  top: 4px;
}
.form-group {
  padding: 25px;
  margin: -15px;
  margin-left: -20px;
}
.control-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: #828bb2; /* make the text bold */
  padding: 0px;
  padding-top: 5px;
  padding-left: 20px;
  font-family: "Times New Roman", serif;
}
.contact-lable2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: green; /* make the text bold */
  padding: 0px;
  padding-top: 5px;
  padding-left: 15px;
  font-family: "Times New Roman", serif;
  position: relative;
  left: 68%;
  cursor: pointer;
}
.contact-dropdownlist {
  padding-left: 14px;
}
.contact-lable2-icon {
  padding-bottom: 5px;
  width: 13%;
  height: 13%;
}
.contact-down-icon {
  position: relative;
  left: 80%;
}
.contact-dropdownlist-btn {
  border: 1px solid #dcdde4;
  background-color: transparent;
  border-radius: 25px;
  width: 100%;
  text-align: start;

  padding: 13px;
  color: #828bb2;
  font-size: 13px;
}
.span-btn {
  padding-left: 10px;
}
.contact-dropdownlist-iteams {
  position: absolute;
}

.contact-body-2 {
  margin: 0px;
  margin-top: -8px;
}

.card-2 {
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  padding: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
  width: 143vh;
  margin: 10px 0;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px 1px rgba(130, 139, 178, 0.55);
}
.contact-dropdownlist-text {
  width: 98.5%;
  padding: 5px;
  margin: 6px;
  border: 0.5px solid #dcdde4;
  border-radius: 5px;
  margin-bottom: 0px;
  padding-left: 20px;
}
.contact-dropdownlist-text.focus-input:focus {
  border: 1px solid #dcdde4;
  outline: none;
  padding-left: 20px; /* Optional: Remove the default outline */
}

.contact-dropdownlist-text::placeholder {
  color: #828bb2;
  font-size: 12px;
}
.contact-dropdownlist-menu {
  color: #828bb2;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  padding: 10px;
  font-weight: bold;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  overflow: hidden;
}

.active {
  color: rgb(116, 116, 250);
}

.contact-dropdownlist-menu {
  max-height: 290px;
  /* Set maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: bold;
  padding: 0; /* Remove padding to prevent scroll bar */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  /* Add border for better visibility */
}

.contact-dropdownlist-menu::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.padded {
  padding: 15px;
  width: 400vh; /* Set width to 100% to avoid horizontal scroll */
  /* Ensure padding is included in width calculation */
  padding-left: 27px;
}

.padded:hover {
  background-color: #dcdde4;
  cursor: pointer;
}
.contact-name {
  padding: 0px;
  padding-left: 15px;
}
.contact-name-lable {
  color: #828bb2;

  font-size: 12px;
  padding: 5px;
  padding-top: 10px;
}
.contact-name-textboxx {
  width: 100%;
  border-radius: 25px;
  border: 1px solid #dcdde4;
  padding: 13px;
  font-size: 13px;
  color: #828bb2;
  padding-left: 20px;
}
.contact-name-textboxx:focus {
  border: 1px solid #dcdde4;
  outline: none;
}
.contact-name-textboxx::placeholder {
  color: #828bb2;

  font-size: 13px;
}
.contact-name-email {
  width: 48.2%;
  border-radius: 25px;
  border: 1px solid #dcdde4;
  padding: 13px;
  font-size: 13px;
  color: #828bb2;
  padding-left: 20px;
}
.contact-name-email:focus {
  border: 1px solid #dcdde4;
  outline: none;
}
.contact-name-email::placeholder {
  color: #828bb2;
}
.contact-mobile {
  padding-left: 47%;
}

.contact-span2 {
  color: red;
}

/***************************************** commentbox css***********************************************8 */
.comment-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f7fb;
  width: 100%;

  padding-bottom: 0px;
}

.contact-dropdownlist-text {
  width: 98.5%;
  padding: 1px;
  margin: 6px;
  border: 0.5px solid #dcdde4;
  border-radius: 5px;
  margin-bottom: 0px;
  padding-left: 20px;
}
.contact-dropdownlist-text.focus-input:focus {
  border: 1px solid #dcdde4;
  outline: none;
  padding-left: 20px; /* Optional: Remove the default outline */
}

#myTextarea {
  width: 100%; /* Increase width to 80% of parent element */
  height: 200px; /* Increase height to 200px */

  box-sizing: border-box !important;
  resize: vertical; /* Allow only vertical resizing */
  border-left: none;
  border-right: none;
  border: none;
  min-height: 100px !important;
  margin-left: -0px !important;
  border-bottom: 1px solid #dcdde4 !important;
  border-top: 1px solid #dcdde4 !important;
  border-radius: 0px;
  resize: vertical !important;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: auto;

}

#myTextarea:focus {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dcdde4 !important;
  border-top: 1px solid #dcdde4 !important;
  color: #828bb2 !important;
}
#myTextarea::placeholder {
  color: #828bb2 !important;
  font-size: 15px !important;
  padding-left: 0px !important;
}

.custom-resize-handle {
  position: relative;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
  cursor: ns-resize; /* Change cursor to vertical resize */
}
.comment-icon {
  color: #828bb2;
}

/*********************************commentbox header***************************************/
.commentbox-header-b {
  border: none;
  background-color: white;
  font-size: 18px; /* Increase font size */
  padding: 0px; /* Increase padding */
  height: 40px; /* Increase height */
  width: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 5px 0px 0px 5px;
  color: #828bb2;
  font-family: bold;
  font-size: 18px;
}
.commentbox-header-b:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
}
.commentbox-header-i {
  border: none;
  background-color: white;
  font-size: 18px; /* Keep only one font-size declaration */
  padding: 0px;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-left: 1px;
  border-radius: 0px 0px 0px 0px;
  color: #828bb2;
  font-family: italics;
}
.commentbox-header-i:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
}
.commentbox-header-u {
  border: none;
  background-color: white;
  font-size: 17px; /* Increase font size */
  padding: 0px; /* Increase padding */
  height: 40px; /* Increase height */
  width: 40px;
  margin-top: 5px;
  margin-left: 0px;
  border-radius: 0px 5px 5px 0px;
  color: #828bb2;
}
.commentbox-header-u:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
}
.commentbox-header-c {
  border: none;
  background-color: white;
  /* Increase font size */
  padding: 5px 10px; /* Adjust padding to increase size */
  height: auto; /* Adjust height to fit content */
  width: auto; /* Ensure width is auto */
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 5px;
  color: #828bb2;
  display: inline-flex; /* Ensure content is aligned and button width fits content */
  align-items: center; /* Center align items vertically */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
}

.commentbox-header-c .comment-icon {
  font-size: 16px; /* Adjust icon font size */
  padding-left: 5px;
}

.commentbox-header-c:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
  .comment-icon {
    color: #ffffff;
  }
}

.commentbox-header-fontsize {
  border: none;
  background-color: white;
  font-size: 12px; /* Increase font size */
  padding: 0px; /* Increase padding */
  height: 40px; /* Increase height */
  width: 45px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 5px 0px 0px 5px;
  color: #828bb2;
  .comment-icon {
    font-size: 11px;
    padding-left: 5px;
  }
}
.commentbox-header-fontsize:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
  .comment-icon {
    color: #ffffff;
  }
}
.commentbox-header-aa {
  border: none;
  background-color: white;
  font-size: 18px; /* Increase font size */
  padding: 0px; /* Increase padding */
  height: 40px; /* Increase height */
  width: 40px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 5px 0px 0px 5px;
  color: #828bb2;
}
.commentbox-header-aa:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
  .comment-icon {
    color: #ffffff;
  }
}
.commentbox-header-color {
  border: none;
  background-color: white;
  font-size: 12px; /* Increase font size */
  padding: 0px; /* Increase padding */

  height: 40px; /* Increase height */
  width: 18px;
  margin-top: 5px;
  margin-left: 2px;
  border-radius: 0px 5px 5px 0px;
  color: #828bb2;
  .comment-icon {
    font-size: 11px;
    padding-left: 0px;
  }
}
.commentbox-header-color:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
  .comment-icon {
    color: #ffffff;
  }
}

.commentbox-header-orderlist {
  border: none;
  background-color: white;
  font-size: 18px; /* Increase font size */
  padding: 0px; /* Increase padding */
  height: 40px; /* Increase height */
  width: 40px;
  margin-top: 5px;
  margin-left: 8px;
  border-radius: 5px 0px 0px 5px;
  color: #828bb2;
  font-family: bold;
  font-size: 18px;
}
.commentbox-header-orderlist:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
  .comment-icon {
    color: #ffffff;
  }
}
.commentbox-header-unorderlist {
  border: none;
  background-color: white;
  font-size: 18px; /* Increase font size */
  padding: 0px; /* Increase padding */
  height: 40px; /* Increase height */
  width: 40px;
  margin-top: 5px;
  margin-left: 1px;
  border-radius: 0px 5px 5px 0px;
  color: #828bb2;
  font-family: bold;
  font-size: 18px;
}
.commentbox-header-unorderlist:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
  .comment-icon {
    color: #ffffff;
  }
}

.commentbox-header-list {
  border: none;
  background-color: white;
  font-size: 17px; /* Increase font size */
  padding: 0px; /* Increase padding */
  height: 40px; /* Increase height */
  width: 40px;
  margin-top: 5px;
  margin-left: 8px;
  border-radius: 5px 5px 5px 5px;
  color: #828bb2;
  .comment-icon {
    font-size: 11px;
    padding-left: 5px;
  }
}
.commentbox-header-list:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
  .comment-icon {
    color: #ffffff;
  }
}
.commentbox-header-listt {
  border: none;
  background-color: white;
  font-size: 17px; /* Increase font size */
  padding: 0px; /* Increase padding */
  height: 40px; /* Increase height */
  width: 40px;
  margin-top: 5px;
  margin-left: 0.5px;
  border-radius: 5px 5px 5px 5px;
  color: #828bb2;
  .comment-icon {
    font-size: 11px;
    padding-left: 5px;
  }
}
.commentbox-header-listt:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
  .comment-icon {
    color: #ffffff;
  }
}
.commentbox-header-table {
  border: none;
  background-color: white;
  font-size: 17px; /* Increase font size */
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px; /* Increase padding */
  height: 40px; /* Increase height */
  width: 40px;
  margin-top: 5px;
  margin-left: 8px;
  border-radius: 5px 5px 5px 5px;
  color: #828bb2;
  .comment-icon {
    font-size: 11px;
    padding-left: 5px;
  }
}
.commentbox-header-table:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
  .comment-icon {
    color: #ffffff;
  }
}
.commentbox-header-link {
  border: none;
  background-color: white;
  font-size: 23px; /* Increase font size */
  padding: 0px;
  padding-left: 5px;
  padding-bottom: 5px;

  padding-right: 5px; /* Increase padding */
  height: 40px; /* Increase height */
  width: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 5px 5px 5px 5px;
  color: #828bb2;
}
.commentbox-header-link:hover {
  background: -webkit-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #7c32ff 0%,
    #c738d8 51%,
    #7c32ff 100%
  );
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%, #7c32ff 0%);
  color: #ffffff; /* assuming you want white text color */
  .comment-icon {
    color: #ffffff;
  }
}
/*active baclground colors*/
.commentbox-header-b.active {
  background-color: #afb3c4;
  color: #ffffff;
}
.commentbox-header-i.active {
  background-color: #afb3c4;
  color: #ffffff;
}
.commentbox-header-u.active {
  background-color: #afb3c4;
  color: #ffffff;
}

.dropdown-menuu {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  width: 150px;
}

.dropdown-menuuu {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  width: 50px;
}

.dropdown-menuuu li {
  padding: 5px;
  cursor: pointer;
}
.dropdown-menuuu li:hover {
  background-color: #a5add1;
}
.font-dropdown-item:hover {
  background-color: #a5add1;
  position: relative;
  padding-left: 15px;
  left: -15px;
  width: 125%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
/* Ensure the font size is applied */
#myTextarea span {
  font-size: inherit !important;
}







